@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: lightsalmon;
}
header p {
  font-weight: 300;
  font-size: 2rem;
}
header p span {
  font-weight: 700;
  color: white;
}
header p:hover {
  color: white;
}
header form input {
  width: 560px;
  height: 38px;
  padding: 0.25rem 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}
input {
  transition: all 0.3s ease;
}
input:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* CONTENT */
.content-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  height: 460px;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);

  transition: all 0.3s ease;
}
.card:hover {
  scale: 1.1;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card .image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  width: 100%;
  overflow: hidden;
}
.card img {
  object-fit: contain;
}
.card .deets {
  height: 48px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
footer img {
  height: 1.4rem;
  width: 1.4rem;
}
